/*datepicker*/
/* Main Style Sheet for jQuery UI date picker */
.ui-datepicker-div, 
.ui-datepicker-inline, 
#ui-datepicker-div {
	font: 12px Verdana;
	background: #fff;
	width: 188px;
	padding: 35px 10px 10px 10px;
	position: relative;
	border: 1px solid #d1d1d1;
	box-shadow: 0 0 4px #dad8d8; -webkit-box-shadow: 0 0 4px #dad8d8; -moz-box-shadow: 0 0 4px #dad8d8;
    -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-border-radius: 3px;}
	
.ui-datepicker-div, #ui-datepicker-div { z-index: 9999 !important; display: none;}
.ui-datepicker-inline 	{ float: left; display: block;}	
.ui-datepicker-control 	{ display: none;}
.ui-datepicker-current 	{ display: none;}
	
.ui-datepicker-next, 
.ui-datepicker-prev {
	position: absolute;
	left: 10px;
	top: 10px;
	cursor: pointer;
	color: #31A4B8;}
	
.ui-datepicker-next {
	left: 170px;}
	
.ui-datepicker-next:hover, 
.ui-datepicker-prev:hover {
	color: #31A4B8;}
	
#ui-datepicker-div table {
	width: 188px;
	text-align: center;
	margin-top: 5px;}
	
#ui-datepicker-div table td {
	background: #f1f1f1;
	cursor: pointer;}
	
#ui-datepicker-div table td a {
	padding: .2em;
	display: block;
	color: #fff;
	background: #31A4B8;
	cursor: pointer;
	border: 1px solid #ffffff;}
	
#ui-datepicker-div table td a:hover {
	border: 1px solid #31A4B8;
	color: #31A4B8;
	background: #fff;}
	
ui-datepicker-div table .ui-datepicker-title-row td {
	padding: .2em;
	text-align: center;
	color: #222;}	